# Default ignored files
/shelf/
/workspace.xml
 feature/UC9-Error-Handling-Validation
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
 dev
